{% extends 'base.html' %}
{% load static %}
{% block homeactive %}active{% endblock homeactive %}

{% block body %}

<div class="container-fuild">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/img/slider1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/slider2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/static/img/slider3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
<div class="container my-4">
   <h2 class="text-center  pb-3">Why choose us</h2>
      <div class="row">
           <div class="col-md-4">
               <div class="text-center">
                  <img src="/static/img/template1.jpg" class="rounded" alt="loading...">
                  <div class="my-4">
                    <h5>Informative</h5>
                    <p>The more informative your advertising, the more persuasive it will be.</p>
                  </div>  
               </div>
           </div>
           <div class="col-md-4">
               <div class="text-center">
                  <img src="/static/img/template2.jpg" class="rounded" alt="loading...">
                  <div class="my-4">
                    <h5>Attractive</h5>
                    <p>You will find the blogposts very attractive</p>
                  </div>  
               </div>
           </div>
           <div class="col-md-4">
               <div class="text-center">
                  <img src="/static/img/template3.jpg" class="rounded" alt="loading...">
                  <div class="my-4">
                    <h5>Services</h5>
                    <p>We provide services with good quality</p>
                  </div>  
               </div>
           </div>
      </div>
</div>
{% endblock body %}